fastapi==0.110.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.29
psycopg2-binary==2.9.9
pysnmp>=4.4.12,<5.1
pyasn1>=0.4.8,<0.5
pyasn1-modules>=0.2.1,<0.3
paramiko==3.4.0
pydantic==2.6.4
python-dotenv==1.0.1
